<?xml version="1.0"?>

<launch>
  <!-- Map settings -->
  <arg name="map_file" default="map_hovergames"/>

  <!-- ROS parameter settings -->
  <rosparam command="load" file="$(find occupancygrid_creator)/config/$(arg map_file).yaml"/>

  <!-- Start LMPCC node -->
  <node pkg="occupancygrid_creator" type="occupancygrid_creator_node" name="occupancygrid_creator_node" cwd="node" respawn="false" output="screen"/>

  <include file="$(find rviz_tools)/launch/rviz_tools_hierarchical.launch"/>

</launch>
